.answers{
    margin: 30px 100px;
    font-family: arial, sans-serif;
    /* color: rgb(5, 110, 159); */
    text-align: justify;
}

.answers h2{
    margin-top: 40px;
    color: rgb(5, 110, 159);
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #d6d0d0;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  @media screen and (max-width: 576px) {
    .answers{
        margin: 30px;
        margin-right: -1px;
    }
  }