.blog{
    /* margin-left: -60px; */
}
.blog img{
    height: 250px;
    width: 500px;
}
.blog-info{
    /* display: flex; */

}
.blog-info img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}